# Auto detect text files and perform LF normalization
* text=auto

# Never line-ending-normalize binary assets
*.woff2 binary
*.woff  binary
*.png   binary
*.jpg   binary
*.ico   binary
*.pdf   binary
